/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/




.carousel_testimonials .pic::after {
    display:block;
    position:relative;
    content:"\02605 \02605 \02605 \02605 \02605";
    color: #f7c121;
    z-index:10;
    width:100%;
    left:0;
    top:0;
    height:40px;
    font-size:30px;
}
.carousel_testimonials .comment {
    min-height:200px;
}
.carousel_testimonials a {
    color:white;
}

.owl-carousel .item img {
    aspect-ratio: 16/9;
    width:1000px;
    height:680px;
    object-fit:cover;
}

@media screen and (min-width:768px) and (max-width:1300px) {
    .parallax_section_1 {
        min-height:100vh;
    }
}

@media screen and (max-width:767px) {
    .parallax_section_1 {
        min-height:110vh;
    }
    .comment {
        font-size:15px;
    }
    .carousel_testimonials .pic img,
    .carousel_testimonials .pic figure {
        display:none;
    }
    .carousel_testimonials .box_overlay {
        padding: 15px;
    }
    .owl-carousel .item img {
        width:100%;
        height:auto;
        min-height:200px;
        object-fit:cover;
        max-height:400px;
    }
    .pinned-image .pinned_over_content h2 {
        font-size:35px;
    }

}


.lang-switch {
    display:block;
    position:relative;
    background:rgba(0,0,0,0.5);
    padding:5px 28px 5px 15px;
    border-radius:100px;
    color:white !important;
}
.lang-switch::after {
    display:inline-block;
    font-family: "bootstrap-icons";
    content: "\F3EE";
    color: #fff;
    position: relative;
    right: -15px;
    top: 2px;
}
.chair-icon {
    width: 62px;
    margin-bottom: 36px;
    fill: #019ee2;
}

.logo_normal img {
    max-width:80vw !important;
}
